[submodule "src/chonkur"]
	path = src/chonkur
	url = git@js-er-code.jsc.nasa.gov:imetro/robots/chonkur/chonkur.git
	branch = humble-devel
[submodule "src/chonkur_l_raile"]
	path = src/chonkur_l_raile
	url = git@js-er-code.jsc.nasa.gov:imetro/robots/chonkur-l-rail-e/chonkur_l_raile.git
	branch = humble-devel
[submodule "src/dextivr_hande"]
	path = src/dextivr_hande
	url = git@js-er-code.jsc.nasa.gov:hw-toolbox/robotiq/ros2/dextivr_hande.git
	branch = humble-devel
[submodule "src/drt_ros2_control_tools"]
	path = src/drt_ros2_control_tools
	url = git@js-er-code.jsc.nasa.gov:imetro/drt_ros2_control_tools.git
	branch = humble-devel
[submodule "src/ewellix_lift_kit"]
	path = src/ewellix_lift_kit
	url = git@js-er-code.jsc.nasa.gov:hw-toolbox/ewellix_lift_kit.git
	branch = humble-devel
[submodule "src/ros2_robotiq_gripper"]
	path = src/ros2_robotiq_gripper
	url = git@js-er-code.jsc.nasa.gov:hw-toolbox/robotiq/ros2/fm/ros2_robotiq_gripper.git
	branch = humble-devel
[submodule "src/serial"]
	path = src/serial
	url = git@js-er-code.jsc.nasa.gov:hw-toolbox/robotiq/ros2/fm/serial.git
	branch = humble
[submodule "src/vention_rail"]
	path = src/vention_rail
	url = git@js-er-code.jsc.nasa.gov:hw-toolbox/vention_rail.git
	branch = humble-devel
[submodule "src/drt_ros2_ur_tools"]
	path = src/drt_ros2_ur_tools
	url = git@js-er-code.jsc.nasa.gov:imetro/drt_ros2_ur_tools.git
	branch = humble-devel
[submodule "src/drt_ros2_launch_common"]
	path = src/drt_ros2_launch_common
	url = git@js-er-code.jsc.nasa.gov:imetro/drt_ros2_launch_common.git
	branch = humble-devel
[submodule "src/trac_ik"]
	path = src/trac_ik
	url = https://bitbucket.org/traclabs/trac_ik.git
	branch = 2.0.1
